# Generated directories:
.nyc_output/
coverage/
dist/
node_modules/

# Project files:
*.sublime-*

.idea\
.env
.idea/workspace.xml
.idea/vcs.xml
.idea/zoopla-scracher.iml
.idea/jsLinters/eslint.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/zoopla-scracher.iml
.idea/zoopla-scracher.iml
htmlDump.html
saves/seenIdentifiers.txt
